.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginHome {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.loginInput {
  padding: 20px;;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #EEE;
}

.loginRightImg {
  width:100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../public/img/e28cb2824ec038ff3e533d228697896e.jpg');
}


.IdBox {
  display: flex;
width: 100%;
height: 46px;
padding: 5px 10px;
align-items: center;
gap: 10px;
}

.loginPwBox {
  margin-top: 10px;
}

.loginIdPw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}


#loginButton .btn-icon-l {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 375px;
  padding: 14px 40px;
}

#loginGoOut .btn-icon-l {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 375px;
  padding: 14px 40px;
  background-color: gray;
}

.boxAll {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color :paper;
    border: 2px solid #000;
    padding: 5px;
    width: 750px;
  }

.divAll {
  background-color: #61dafb;

  
}

.divUp {
  background-color: #F1F1F1;
  
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  /* margin: 0px;
  padding: 50px; */
}

.divUpOne {
  /* background-color: #61dafb; */
  
  display: flex;
  align-items: center;
  gap: 20px;

  width: 100%;

  
}

.divUpOneUserId {
  color : blue;

  
}

.divUpTwo {
  /* background-color: yellow; */

  display: flex;
  align-items: center;
  gap: 20px;

  
}

.divUpTwoEquipment {
  color : blue;

  
}

.divUpThree {
  /* background-color: aqua; */

  display: flex;
  align-items: center;
  gap: 20px;
}

.divUpThreePort {
  color: blue;
}

.divUpCheck {
  /* background-color: antiquewhite; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  margin-top: 40px;
  margin-bottom: 40px;
}

.divUpButton {
  /* background-color: aquamarine; */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 80%;
}

.divUpButtonSave {
  width: 50%;
  /* background-color: gray; */
  /* width: 100px; */
  border: 1px solid #000;
}

.divUpButtonSave1 {
  width: 100%;
}

.divUpButtonClose {
  width: 50%;
}

.divUpButtonClose1 {
  background-color: gray !important;
  width: 100%;
}

.divDown {
  background-color: #696969;

  color: white;
 
  display: flex;
  justify-content: flex-end;
}